@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    box-sizing: border-box;
}

.nav-menu {

    /* background-color: rgb(234, 159, 68); */
    

    width: 150px;
    height: 180px;

    padding: 3px 2px;
    margin: 5px;

    display: block;

    list-style-type: none;

}

.nav-item {

/* 
    background-image: url(imagens/menu.png);
    background-repeat: no-repeat; 
*/

    
    margin: 0px 2px 0px 15px; 

    
    color: beige;

}

ul a {
    width: 200px;
    height: 40px;
    display: block;
    background-image: url(imagens/menu.png);
    background-repeat: no-repeat;
    background-position: right bottom left;
    color: #000;
    text-decoration: none;
    text-indent: 30px;
    line-height: 38px;
    font-weight: 500;
       
}

a:hover {
    background-position: right bottom;
    color: #fff;
}

#radius-top {
    border-radius: 10px 10px 0px 0px;  
}

#radius-bottom {
    border-radius: 0px 0px 10px 10px;
}