@charset "UTF-8";

* {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#conteiner {
    width: 80%; /*720px*/
    min-width: 800px;
    max-width: 960px;

    margin: 0 auto;
    background-color: #fff;
}

#marca {
    width: 100%;
    height: 200px;
    background-color: #9e9e9e;
    background-image: url(imagens/cabecalho2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 200px;
}

#conteudo {
    width: 75%; /*520px*/
    float: right;
}

/* #imagem {
    width: 90%;
    overflow: hidden;
} */

img.img-noticia {
    width: 94%;
    padding: 2%;
    max-width: 600px;
}

.main-content { 
    width: 63%; /*320px*/
    float: left;
}

.second-content {
    width: 34%; /*180px*/
    float: right;
    background-color: #d1d1d1;
}

.second-content h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

.main-content h2, p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao {
    width: 23%; /*180px*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;
}

.nav-list {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: rgb(11, 11, 238);
}

a:hover {
    text-decoration: underline;
    color: rgb(204, 18, 198);
}

a:focus {
    color: rgb(204, 18, 198);
}

#rodape {
    clear: both;
    background-color: #c3c3c3;
    padding: 5px;
}